{% extends 'base.html.twig' %}

{% block title %}Posts{% endblock %}
{% block stylesheets %}
<style>
	#link-back-to-posts {
		position: absolute;
		padding: 1%;
		top: 2%;
		left: 2%;
		background-color: bisque;
		color: rgb(185, 185, 185);
		border-radius: 53px;
		text-decoration: none;
		transition: .2s;
	}
	#link-back-to-posts:hover {
		background-color: rgb(201, 180, 154);
		color: bisque;
	}
	.img-post-content {
		max-width: 300px;
		max-height: 150px;
	}
	#post {
		display: flex;
		flex-direction: column;
		gap: 50px;
		align-items: center;
		position: relative;
	}
	#post-title-container {
		position: relative;
		width: 80%;
		height: 20%;
		margin: 0 auto;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	#img-post-title {
		width: 100%;
		height: 100%;
	}
	#post-title {
		color: #e07a5f;
		background-color: #4c2f27cb;
		text-transform: uppercase;
		text-decoration: underline;
		font-weight: bold;
		position: absolute;
		top: 40%;
		padding: 1%;
		border-radius: 53px;
		transition: .25s;
	}
	#post-title:hover {
		opacity: 0.25
	}
	#categories {
		display: flex;
		justify-content: start;
		width: 70%;
		gap: 10px;
		margin: 2% auto;
	}
	.category {
		background-color: #534741;
		border-radius: 100px;
		padding: 5px 10px;
		color: white;
		text-align: center;
	}
	#post-content {
		border: 1px solid #534741;
		border-radius: 23px;
		width: 70%;
		padding: 2%
	}
	#post-action {
		display: flex;
		gap: 20px;
	}
</style>
<style>
	#comments-div {
		padding: 5%
	}
	#comments-form {
		width: 40%;
		margin-bottom: 2%;
		border: 1px solid #534741;
		border-radius: 23px;
		padding: 2%;
	}
	#comments-container {
		display:flex;
		flex-direction: column;
		gap: 10px;
	}
	.comment {
		border: 1px solid #534741;
		border-radius: 23px;
		padding: 1%;
	}
	.comment-header {
		display: flex;
		justify-content: space-between;
	}
	.comment-username {
		font-weight: bold;
	}
	.profile-picture {
		width: 5%;
		border-radius: 50%;
		background-color: black;
	}
</style>
{% endblock %}
{% block body %}
	<div id="post">
		<a id="link-back-to-posts" href="{{ path('app_posts_index') }}">back to posts</a>
		<div id="post-title-container">
			{% set break = false %}
			{% for media in post.medias %}
				{% if not break  %}
					{% if not media.isVideo %}
						<img id="post-title-img" src="{{ asset('uploads/pictures/' ~ media.path) }}">
						{% set break = true %}
					{% endif %}
				{% endif %}
			{% endfor %}
			{% if not break %}
						<img id="post-title-img" src="{{ asset('uploads/pictures/defaultPicture.png') }}">
			{% endif %}
			<h1 id="post-title">{{ post.name }}</h1>
		</div>
		<div id="medias">
			{% for media in post.medias %}
					{% if media.isVideo %}
						<iframe width="300" height="150" src="{{media.path}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
					{% else %}
						<img class="img-post-content" src="{{ asset('uploads/pictures/' ~ media.path) }}">
					{% endif %}
			{% endfor %}
		</div>
		<div id="post-content">
			<p>{{ post.content }}</p>
		</div>
		{% if isAuthor or isAdmin %}
			<div id="post-action">
				<a class="btn btn-primary" href="{{ path('app_posts_edit', {'id': post.id}) }}">Edit</a>
				{{ include('posts/_delete_form.html.twig') }}
			</div>
		{% endif %}
	</div>
	<div id="categories">
		{% for category in post.categories %}
		<span class="category">
			{{category.name}}
		</span>
		{% endfor %}
		<span class="category">
			Created : {{post.createdAt|date('d-m-Y')}}
		</span>
	</div>
	<div id="comments-div">
		{% if app.user.id is defined %}
			<div id="comments-form">
				<p>Add a comment</p>
				{{ form_start(form)  }}
					{{ form_widget(form) }}
					<button class="btn btn-success">{{ button_label|default('Save') }}</button>
				{{ form_end(form) }}
			</div>
		{% endif %}
		<div id="comments-container">
		<h2>Comments n°<span id="comment-number">1</span></h2>
		{% for comment in comments %}
			<div class="comment">
				<div class="comment-header">
					{% if comment.author.imgPath %}
						<img class="profile-picture" src="{{ asset('uploads/pictures/' ~ comment.author.imgPath)}}" alt="profile picture">
					{% else %}
						<img class="profile-picture" src="{{ asset('uploads/pictures/defaultPicture.png')}}" alt="profile-picture">
					{% endif %}
					<p class="comment-username">{{ comment.author.username}}</p>
					<p>{{ comment.createdAt|date('Y-m-d') }}</p>
				</div>
				<p>{{ comment.title}}</p>
				<p>{{ comment.content }}</p>
			</div>
		{% endfor %}
		</div>
		<button id="btn_next-comment" class="btn btn-primary">Get next comment</button>
		<button id="btn_last-comment" class="btn btn-primary">Get last comment</button>
	</div>
{% endblock %}
{% block javascripts %}
	<script>
		let currentPage = 1;

		document.getElementById("btn_next-comment").addEventListener("click", btn => {
			btn.preventDefault();
			currentPage++;
			getComment(currentPage);
		})

		document.getElementById("btn_last-comment").addEventListener("click", btn => {
			btn.preventDefault();
			currentPage--;
			if (currentPage < 1) {
				currentPage = 1
			} else {
				getComment(currentPage);
			}
		})

		function getComment (page) {
			document.getElementById("comment-number").textContent = page;
			fetch("getComment/{{ post.id }}", {
				method: "POST",
				headers: {
					'Content-Type': 'application/json'
				},
				body: JSON.stringify({
					page : page,
				})
			}).then(res => {
				return res.json()
			}).then(data => {
				console.log(data);
				let commentDiv = document.getElementById("comments-container");
				document.querySelectorAll(".comment").forEach(comment => {
					comment.remove();
				})
				
				data.comments.forEach(comment => {

					let div = document.createElement("div");
					let header = document.createElement("div");
					let profilePicture = document.createElement("img");
					let username = document.createElement("p");
					let date = document.createElement("p");
					let title = document.createElement("p");
					let content = document.createElement("p");

					div.classList.add("comment");
					header.classList.add("comment-header");
					profilePicture.classList.add("profile-picture");
					username.classList.add("comment-username");

					if (comment.author.imgPath == null) {
						profilePicture.src = "/uploads/pictures/defaultPicture.png";
					} else {
						profilePicture.src = "/uploads/pictures/" + comment.author.imgPath;
					}

					username.textContent = comment.author.username;
					date.textContent = comment.createdAt.date.split(" ")[0];
					title.textContent = comment.title;
					content.textContent = comment.content;

					header.appendChild(profilePicture);
					header.appendChild(username);
					header.appendChild(date);
					div.appendChild(header);
					div.appendChild(title);
					div.appendChild(content);
					commentDiv.appendChild(div);
				})

			}).catch(error => {
				console.error(error);
			})
		}

		document.querySelectorAll(".img-post-content").forEach(img => {
			img.addEventListener("click", imgClicked => {
				let postTitleImg = document.getElementById("post-title-img");
				postTitleImg.src = imgClicked.target.src;
			})
		})
	</script>

{% endblock %}

