{% extends 'base.html.twig' %}

{% block title %}Posts{% endblock %}
{% block stylesheet %}

{% endblock %}
{% block body %}

	<div id="post">
		<h1>{{ post.name }}</h1>
		{% for category in post.categories %}
			<td>
				{{category.name}}
			</td>
		{% endfor %}
		<td>{{ post.content }}</td>

		<th>Medias</th>
		{% for media in post.medias %}
			<td>
				{% if media.isVideo %}
					<iframe width="560" height="315" src="{{media.path}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
				{% else %}
					<img src="{{ asset('uploads/pictures/' ~ media.path) }}">
				{% endif %}
			</td>
		{% endfor %}
	</div>
	<div id="comments">
			{{ form_start(form)  }}
				<button class="btn btn-success">{{ button_label|default('Save') }}</button>
			{{ form_end(form) }}
		
		{% for comment in post.comments %}
		<div>
			<p>{{ comment.title}}</p>
			<p>{{ comment.content }}</p>
		</div>
	</div>

	{% endfor %}
	<a href="{{ path('app_posts_index') }}">back to list</a>

	<a href="{{ path('app_posts_edit', {'id': post.id}) }}">edit</a>

	{{ include('posts/_delete_form.html.twig') }}
{% endblock %}
