{% extends 'base.html.twig' %}

{% block title %}Posts{% endblock %}
{% block stylesheets %}
<style>
	img {
		max-width: 300px;
		max-height: 150px;
	}
	#post {
		display: flex;
		flex-direction: column;
		gap: 50px;
		align-items: center;
	}
</style>
{% endblock %}
{% block body %}
	<div id="post">
		<h1>{{ post.name }}</h1>
		<div id="categories">
			{% for category in post.categories %}
			<span class="category">
				{{category.name}}
			</span>
			{% endfor %}
		</div>
		<div id="medias">
			{% for media in post.medias %}
					{% if media.isVideo %}
						<iframe width="500" height="285" src="{{media.path}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
					{% else %}
						<img src="{{ asset('uploads/pictures/' ~ media.path) }}">
					{% endif %}
			{% endfor %}
		</div>
		<div id="content">
			<p>{{ post.content }}</p>
		</div>
	</div>
	<div id="comments">
			{{ form_start(form)  }}
				<button class="btn btn-success">{{ button_label|default('Save') }}</button>
			{{ form_end(form) }}
		
		{% for comment in post.comments %}
		<div>
			<p>{{ comment.title}}</p>
			<p>{{ comment.content }}</p>
		</div>
	</div>

	{% endfor %}
	<a href="{{ path('app_posts_index') }}">back to list</a>

	<a href="{{ path('app_posts_edit', {'id': post.id}) }}">edit</a>

	{{ include('posts/_delete_form.html.twig') }}
{% endblock %}
