{% extends "base.html.twig" %}
{% block stylesheets %}
<style>
	#welcome-message {
		background-color: #ecaf9f;
		width: 100%;
		height: 44vw;
		font-size: 4vw;
		color: #534741;
		text-align: center;
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
		position: relative;
	}
	#go-to-post {
		position: absolute;
		right: 2%;
		bottom: 3%;
		color: #534741;
		font-size: 2vw;
		background-color: #f4f1de;
		border-radius: 100px;
		padding: 0 1%;
	}
	#welcome-message > p {
		margin: 0;
	}
	#posts {
		padding: 5%
	}
	#posts-container {
		display: grid;
		grid-template-columns: auto auto auto auto auto;
		justify-content: space-evenly;
		row-gap: 20px;
	}
	.post-card {
		background-color: #81b29a;
		color: #3d405b;
		border: 1px solid #638475;
		border-radius: 23px;
		padding: 2%;
		width: 300px;
		height: 200px;
		position: relative;
	}
	.post-title {
		font-weight: bold;
		text-transform: uppercase;
		margin-bottom: 0;
	}
	.post-img-container > img {
		width: 100%;
		aspect-ratio: 5/2.5;
		object-fit: contain;
	}
	.post-bottom-card{
		margin-top: 5%;
		display: flex;
		align-items: end;
		justify-content: space-between;
		padding: 0 2%
	}
	.delete-post{
		cursor: pointer;
		transition: color .15s ease-in-out;
	}
	.delete-post:hover {
		color: red;
	}
</style>
{% endblock %}
{% block body %}
	{# {{parent()}} permet d'appeler le contenu du block de base sinon, l'écrase.#}
	<div id="welcome-message">
		<p>Welcome {% if app.user %}{{app.user.username}}{% endif %} on <span style="font-weight:bold; text-decoration: underline;">SNOWTRICKS</span></p>
		<p>A community forum where you can share awesome tricks from snow sports !</p>
		<a id="go-to-post" href="#posts"><i class="fa-solid fa-arrow-down"></i></a>
	</div>
	<div id="posts">
		<h1>LAST POSTS</h1>
		<div id="posts-container">
			{% for post in posts %}
				<div class="post-card">
					<div class="post-img-container">
						{% set break = false %}
						{% for media in post.medias %}
							{% if not break  %}
								{% if not media.isVideo %}
									<img src="{{ asset('uploads/pictures/' ~ media.path) }}">
									{% set break = true %}
								{% endif %}
							{% endif %}
						{% endfor %}
						{% if not break %}
									<img src="{{ asset('uploads/pictures/defaultPicture.png') }}">
						{% endif %}
						
					</div>
					<div class="post-bottom-card">
						<a class="post-title" href="/posts/{{post.id}}">{{ post.name }}</a>
						{% if isAdmin %}
							<input type="hidden" class="input_token-to-delete" name="_token" value="{{ csrf_token('delete' ~ post.id) }}">
							<input type="hidden" class="input_id-to-delete" value="{{post.id}}">
							<span class="delete-post"><i class="fa-solid fa-trash"></i></span>

						{% endif %}
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
	<button id="btn_load-more-posts" class="btn btn-primary">Load more posts</button>

	
{% endblock %}
{% block javascripts %}
	<script>
		let offset = 1;

		document.getElementById("btn_load-more-posts").addEventListener("click", btn => {
			btn.preventDefault();
			offset ++;
			getPost(offset);
		})
		//function qui permet de récupérer la suite des posts en AJAX
		function getPost (offset) {
			fetch("getPost", {
				method: "POST",
				headers: {
					'Content-Type': 'application/json'
				},
				body: JSON.stringify({
					offset : offset,
				})
			}).then(res => {
				return res.json()
			}).then(data => {
				console.log(data.posts);
			}).catch(error => {
				console.error(error);
			})
		}

		{% if isAdmin %}
		document.querySelectorAll(".delete-post").forEach(btnDelete => {
			btnDelete.addEventListener("click", btnClicked => {
				if (confirm("Are you sure to delete this post ? ")) {
					let postId = btnClicked.target.parentNode.parentNode.querySelector(".input_id-to-delete").value;
					let token = btnClicked.target.parentNode.parentNode.querySelector(".input_token-to-delete").value
					fetch("/posts/" + postId, {
						method: "POST",
						headers: {
							'Content-Type': 'application/json'
						},
						body: JSON.stringify({
							_token: token
						})
					}).then(res => {
						return res.json()
					}).then(data => {
						console.log(data);
						if (data.result == "succes") {
							btnClicked.target.parentNode.parentNode.remove();
						}
					}).catch(error => {
						console.error(error);
					})
				}
			})
		})
		{% endif %}
	</script>
{% endblock %}
